body {
    font-family: arial,sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    min-width: 602px;
}

ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 8px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
}

#googleapps {
    display: table-cell;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    text-align: center;
}

.material-icons {
    vertical-align: middle;
}

#googleapps:hover {
    border-radius: 50%;
    background: #f2f2f2;
    cursor: pointer;
}

#apps:hover {
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #000;    
}

nav li {
    padding-left: 15px;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

#signin {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    background: #2b7de9;
    color: white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    min-width: 96px;
    padding: 9px 25px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    border: 1px solid transparent;
}

#signin:hover {
    box-shadow: 0 1px 2px 0 rgba(66,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
    background: #4189e7;
}

#container {
    display: flex;
    height: calc(100vh - 110px);
    min-height: 279px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-width: 602px;
    /*margin-top: 20vh;
    margin-bottom: 70px;*/
    overflow-x: hidden;
}

#formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#search-bar {
    display: table-cell;
    vertical-align: middle;
    margin: 40px 0;
    border-radius: 50px;
    height: 39px;
    width: 560px;
    border: 1px solid;
    border-color: #e6e6e6;
}

#search-bar:hover {
    box-shadow: 0px 2px 10px 0 #e6e6e6;
}

#search-icon {
    padding: 8px 6px 8px 10px;
    font-size: 1.3em;
    color: #8a8a8a;
}

#search {
    padding: 0;
    width: 480px;
    border: none;
    height: 39px;
    outline: none;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;
}

input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

footer {
    /*position: fixed;
    bottom: 0;
    left: 0;
    right: 0;*/
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #8a8a8a;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    width: 100vw;
    overflow: hidden;
    height: 50px;
    align-items: center;
    min-width: 602px;
    }

footer li {
    padding-left: 27px;
}

#end-border1 {
    margin-right: 10px;
}

#end-border2 {
    margin-right: 30px;
}



/*This part manage the menu that appears when clicking on the link Settings at the bottom of the page*/
/****************/
/*BEGIN*/
/****************/


/*move the checkbox out of scree so it's not visible*/
.visually-hidden {
    position: absolute;
    left: -100vw;
}

/*Main div: this div is "hidden" on its original state*/
#settings-box {
    position: fixed;
    top: -60px;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    height: 0;
    width: 0;
}

/*label that is used to uncheck the checkbox with no size at original state*/
#blank {
    color: transparent;
    font-size: 0;
}

/*Search settings panel as its original state displayed out of the screen to not be visible*/
#search-settings-panel {
    position: fixed;
    width: 165px;
    height: 282px;
    background: white;
    right: -165px;
    bottom: 50px;
    border: 1px solid #222;
}

#search-settings-panel ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

#search-settings-panel li {
    color: #70757a;
    padding: 15px;
}

/*Main div options when checkbox is on*/
#toggle-1:checked ~ #settings-box {
    opacity: 100;
    
}

/*Label option when checkbox in on: the font is high in order the label takes all the screen so it's clickable anywhere*/
#toggle-1:checked ~ #settings-box #blank {
    font-size: 300vw;
}

/*change position of settings options panel to be visible when checkbox is on*/
#toggle-1:checked ~ #settings-box #search-settings-panel {
    right: 25px;
    bottom: 50px;
}

/****************/
/*END*/
/****************/


/*Main div: this div is "hidden" on its original state*/
#apps-box {
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    overflow-x: hidden;
}

/*label that is used to uncheck the checkbox with no size at original state*/
#blank2 {
    position: fixed;
    top: O;
    left: 0;
    color: transparent;
    font-size: 0;
    overflow-x: hidden;
}

/*apps panel as its original state displayed out of the screen to not be visible*/
#apps-panel {
    background-color: white;
    height: /*448px*/ 70vh;
    width: 328px;
    padding: 3px 6px 9px 6px;
    display: initial;
    position: absolute;
    left: calc(100vw - 368px);
    top: 67px;
    overflow-y: auto;
    border-radius: 8px;
    border: 1px solid #b8b8b8;
    box-shadow: 0 0 2px 3px #e6e6e6;
}

#apps-panel ul {
    /*margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;*/
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

#apps-panel li {
    display: block;
    color: #70757a;
    text-align: center;
    width: 84px;
    height: 100px;
    padding: 6px;
    overflow: hidden;
}

#apps-icon a {
    display: inline-block;
    text-align: center;
    height: 100px;
    width: 84px;
    letter-spacing: .09px;
    line-height: 18px;
    text-overflow: ellipsis;
}

#apps-icon a:hover {
    background-color: #e8f0fe;
    border-radius: 7px;
}

/*Main div options when checkbox is on*/
#toggle-2:checked ~ #apps-box {
    opacity: 100;
    z-index: 1;
}

/*Label option when checkbox in on: the font is high in order the label takes all the screen so it's clickable anywhere*/
#toggle-2:checked ~ #apps-box #blank2 {
    font-size: 300vw;
}

/*change position of settings options panel to be visible when checkbox is on*/
#toggle-2:checked ~ #settings-box #apps-panel {
}

.icon {
    display: inline-block;
    text-align: center;
    background-image: url("../img/google_stripe.png");
    background-size: 64px 3100px;
    height: 64px;
    width: 64px;
}

.centered {
    display: inline-block;
    text-align: center;
    color: #202124;
    font-size: 14px;
    font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

#account-app {
    background-position: 0 -1587px;
}

#search-app {
    background-position: 0 -1794px;
}

#maps-app {
    background-position: 0 -483px;
}

#youtube-app {
    background-position: 0 -2622px;
}

#play-app {
    background-position: 0 -207px;
}

#news-app {
    background-position: 0 -1311px;
}

#gmail-app {
    background-position: 0 -2001px;
}

#meet-app {
    background-position: 0 -690px;
}

#chat-app {
    background-position: 0 -1656px;
}

#contacts-app {
    background-position: 0 -2898px;
}

#drive-app {
    background-position: 0 -2967px;
}

#calendar-app {
    background-position: 0 -2553px;
}

#translate-app {
    background-position: 0 -1932px;
}

#photos-app {
    background-position: 0 -2829px;
}

#duo-app {
    background-position: 0 -2484px;
}

#chrome-app {
    background-position: 0 -2346px;
}

#shopping-app {
    background-position: 0 -69px;
}

#docs-app {
    background-position: 0 -1242px;
}

#sheets-app {
    background-position: 0 -2208px;
}

#slides-app {
    background-position: 0 -2277px;
}

#books-app {
    background-position: 0 -2760px;
}

#blogger-app {
    background-position: 0 -1863px;
}

#hangouts-app {
    background-position: 0 -2415px;
}

#keep-app {
    background-position: 0 -276px;
}

#jamboard-app {
    background-position: 0 -2070px;
}

#earth-app {
    background-position: 0 -1380px;
}

#collections-app {
    background-position: 0 -621px;
}

#artsandculture-app {
    background-position: 0 -1518px;
}

#googleads-app {
    background-position: 0 -414px;
}

#podcasts-app {
    background-position: 0 -552px;
}

#stadia-app {
    background-position: 0 -828px;
}

#travel-app {
    background-position: 0 -3036px;
}

#forms-app {
    background-position: 0 -2139px;
}

.separator {
    display: block;
    border-bottom: 1px solid #e8eaed;
    margin: 6px 0;
}

.more-options {
    text-align: center;
}

.more-btn {
    background-color: #fff;
    display: inline-block;
    margin: 16px 0 20px 0;
    border: 1px solid #dadce0;
    border-radius: 4px;
    color: #1a73e8;
    padding: 10px 24px;
    text-align: center;
    height: auto;
    width: auto;
}

.more-btn:hover {
    background-color: #f8fbff;
}

/*#apps-panel {
    background-color: white;
    height: 309px;
    width: 328px;
    padding: 3px 6px 9px 6px;
    display:initial;
    position: absolute;
    right: 20px;
    top: 67px;
    overflow-y: auto;
    border-radius: 8px;
    border: 1px solid #b8b8b8;
    box-shadow: 0 0 2px 3px #e6e6e6;
}*/